body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification-div{
  width: fit-content;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  animation: rightAni 2s;
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
  }
  p {
    margin-right: 30px;
  }
  .icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem;
  }
  .close-btn{
    padding: 5px;
    background: rgba($color: #ffffff, $alpha: 0.4);
    border: none;
    border-radius: 50%;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    &:hover{
      background: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}
.danger{
  background-color: #af0000;
}
.success {
  background-color: #037c09;
}
.info {
  background-color: #036a7c;
}
.warning {
  background-color: #ad670c;
}

@keyframes rightAni {
  0% {
    right: -400px;
  }
  100% {
    right: 10px;
  }
}